.updateProfilePage {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.updateProfileFormBox{
    max-width: 350px;
    width: 100%;
}

.inputNumberForm {
    border: none;
    border-radius: 10px;
    height: 42px;
    color: white;
}

.text_color {
    color: white;
}

.updateBtn {
    background: linear-gradient(106.61deg, #E50914 -23.67%, #866AFC 87.41%);
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 42px;
}
